{% extends 'base.html' %}

{% block header %}
<div>
  <h1>{% block title %}Users{% endblock %}</h1>
  <form method="POST">
    <input name = "search" id = "search" type="text"/>
    <input type="submit" value = "Search Users"/>
  </form>
</div>
{% endblock %} 

{% block content %} 
{% for user in users %}
<article class="post">
  <header>
    <div>
      <a href=" {{ url_for('users.user_page', username = user['username']) }} "><h1>{{ user['username'] }}</h1></a>
      <div class="about">
        Joined on {{ user['created'] }}
      </div>
    </div>
    <div>
    </div>
  </header>
  <p class="body"></p>
</article>
{% if not loop.last %}
<hr />
{% endif %} 
{% endfor %}
{% endblock %}