{% extends 'base.html' %}
{% if g.user %}
{% block navList %}
  <li><a href="{{ url_for('posts.create', den_id = den['id']) }}">New Post</a></li>
  <li><a href="{{ url_for('dens.index') }}">All Dens</a></li>
  <li><a href="{{ url_for('index.index') }}">My Feed</a></li>
{% endblock %} 
{% endif %}

{% block header %}
<h1>{% block title %}{{ den['name'] }}{% endblock %}</h1>
<div class="about">
  <p>Den created by {{ den['username'] }} on {{ den['created'] }}</p>
</div>


 {% endblock %} 
 {% block content %}
 {% for post in posts %}
<article class="post">
  <header>
    <div>
      <a href="{{ url_for('dens.den_post', den_id = den['id'], post_id = post['id']) }}"><h1>{{ post['title'] }}</h1></a>
      <div class="about">
        Posted created by {{ post['username'] }} on {{ post['created'] }}
      </div>
    </div>
    {% if g.user['username'] == post['username'] %}
    <div>
      <a href="{{ url_for('posts.update', post_id = post['id']) }}">Update</a>
    </div>
    {% endif %}
  </header>
</article>
{% if not loop.last %}
<hr />
{% endif %} 
{% endfor %} 
{% endblock %}
