{% extends 'base.html' %} {% block header %}
<h1>{% block title %}{{ den['name'] }}{% endblock %}</h1>
<div class="about">
    Den created by {{ den['username'] }} on {{ den['created'] }}
</div>
{% if g.user %}
<!-- <a class="action" href="{{ url_for('dens.posts.index') }}">New</a> -->
{% endif %} {% endblock %} {% block content %} {% for post in posts %}
<article class="post">
  <header>
    <div>
      <a href="{{ url_for('dens.den_post', den_id = den['id'], post_id = post['id']) }}"><h1>{{ post['title'] }}</h1></a>
      <div class="about">
        Posted created by {{ post['username'] }} on {{ post['created'] }}
      </div>
    </div>
  </header>
  <!-- <p class="body">{{ post['title'] }}</p> -->
</article>
{% if not loop.last %}
<hr />
{% endif %} {% endfor %} {% endblock %}
