{% extends 'base.html' %}

{% block navList %}
  <li><a href="{{ url_for('index.index') }}">My Feed</a></li>
  <li><a class="action" href="{{ url_for('dens.create') }}">Create Den</a></li>
{% endblock %}

{% block header %}
<div>
  <h1>{% block title %}Dens{% endblock %}</h1>
  <form method="POST">
    <input name = "search" id = "search" type="text"/>
    <input type="submit" value = "Search Dens"/>
  </form>
</div>
{% endblock %} 

{% block content %} 
{% for den in dens %}
<article class="post">
  <header>
    <div>
      <a href="{{ url_for('dens.den', den_id = den['id'] ) }}"><h1>{{ den['name'] }}</h1></a>
      <div class="about">
        Den created by <a href = "{{ url_for('users.user_page', username = den['username']) }}">{{ den['username'] }}</a> on {{ den['created'] }}
      </div>
    </div>
    <div>
      {% if den['username'] == g.user['username'] %}
      <a href="{{ url_for('dens.update', id = den['id']) }}">Update</a>
      {% endif %}
    </div>
  </header>
  <div class = "body">
    {{ den['description'] }}
  </div>
</article>
{% if not loop.last %}
<hr />
{% endif %} 
{% endfor %}
{% endblock %}
