{% extends 'base.html' %} 
{% block header %}
<h1>{% block title %}<a href="{{ url_for('dens.den', den_id = den['id']) }}">{{ den['name'] }}</a>{% endblock %}</h1>
<div class="about">
    Den created by {{ den['username'] }} on {{ den['created'] }}
</div>
{% endblock %} 
{% block content %} 
<article class="body">
    <header>
      <div>
        <div>
           <h1>{{ post['title'] }}</h1> 
        </div>
        <div class="about">
          Posted created by <a href = "{{ url_for('users.user_page', username = post['username']) }}">{{ post['username'] }}</a> on {{ post['created'] }}
        </div>
        <div class = "body">
            {{ post['body'] }}
        </div>
        <div>
          <p>likes: {{ likes }}</p>
          <form method="POST" action="{{ url_for('dens.den_post', den_id = den['id'], post_id = post['id']) }}">
            <input type="submit" value="Like">
          </form>
        </div>
      </div>
  </header>
</article>
<hr/>
<form method="POST" action="{{ url_for('dens.comment', den_id = den['id'], post_id = post['id']) }} ">
  <label for="comment">Comment</label>
  <input name = "comment" id = "comment" required/>
  <input type="submit" value="post"/>
</form>
<p>Comments:</p>
<hr/>
{% for comment in comments %}
{% if comment['username'] == g.user['username'] %}
<form method="POST" action= "{{ url_for('posts.delete', comment_id = comment['id']) }}">
  <input name = "den_id" type="hidden" value = "{{ den['id'] }}"/>
  <input name = "post_id" type ="hidden" value = "{{ post['id'] }}"/>
  <input type ="submit" value="delete" />
</form>
{% endif %}
<div> 
  <p>{{ comment['created'] }}</p> 
  <p><a href = "{{ url_for('users.user_page', username = comment['username']) }}">{{ comment['username'] }}</a></p>
</div>
<div class="body">
  {{ comment['body'] }}
</div>
<hr/>
{% endfor %}
{% endblock %}
